build/
build-*/
dist/
bin/
obj/
runtime/
runtime-*/
extern/
tool-cache/
logs/
backups/
edgetx-src*/
.local-build/
**/.local-build/
.gx12-profile-dir
.gx12-ui/setting-tooltip-images/
.gx12-ui/tooltip-sprites/*
!.gx12-ui/tooltip-sprites/
!.gx12-ui/tooltip-sprites/*.png
.gx12-ui/ui-settings.json

*.obj
*.lib
*.exe
*.dll
*.pdb
*.ilk
*.bin
*.BIN
*.uf2
*.UF2
*.lst
*.rsp
*.log
*.pdf

!firmware/
!firmware/R2X-7D8.BIN
!firmware/experimental-tx16s/
!firmware/experimental-tx16s/*.bin
!firmware/experimental-tx16s/*.uf2
!firmware/experimental-tx16s/*.md
!firmware/experimental-tx16s/*.txt
